// Barre principale de navigation
@use "sass:list";

.main-menu {
    background-color: $green-color;

    ul {
        list-style-type: none;
        padding-left: 0;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        @media(min-width: list.nth($breakpoints, 1)) {
            flex-wrap: nowrap;
        }
    }

    li {
        flex: 100%;
        @media(min-width: list.nth($breakpoints, 1)) {
            flex: 1 0 auto;
        }
        @media(min-width: list.nth($breakpoints, 2)) {
            flex: 0 1 auto;
        }
    }

    a {
        @include bordered;
        text-decoration: none;
        display: block;
        padding: .25em .5em;
        background-color: $white-color;
        color: $red-color;
        margin: .25em;

        &:hover {
            background-color: $red-color;
            color: $white-color;
        }
    }
}
