$brand-color: #d35;

h1 {
    color: $brand-color;
    font-family: 'Lucida Sans', sans-serif;
}

table {
    /* variable shadowing */
    /* masque la déclaration ligne 1 au sein de ce bloc */
    $brand-color: #5d3; 
    border: 2px solid $brand-color;
}
