$brand-color: #d35;

h1 {
    // attention / peut être aussi bien la division
    // l'utilisation de l'opérateur est dépréciée et remplacée par math.div()
    // nb les commentaires "//" sont supprimés à la compilation
    font: 2em / 2 'Lucida Sans', sans-serif;
    color: $brand-color;
}

table {
    /* variable shadowing */
    /* masque la déclaration ligne 1 au sein de ce bloc */
    /* les valeurs par défaut ne s'appllique que si la variable n'est pas définie */
    $brand-color: #5d3 !default;
    border: 2px solid $brand-color;
}
