$dark-color: #222;
$light-color: #ddd;
$brand-color: #5a5;


table.report-data {
    color: $dark-color;

    // une règle imbriquée applique la relation d'ascendance
    th {
        background-color: $dark-color;
        color: $light-color;
    }

    td {
        color: lighten($dark-color, 20);

        a {
            display: block;
            background-color: $brand-color;

            &:hover {
                background-color: lighten($color: $brand-color, $amount: 20);
            }
        }
    }
}
